---
// Style Imports
import '../styles/global.css';
import '../styles/home.css';

// Component Imports
import Page from '../components/Page.astro'
import BranchDisplay from '../components/BranchDisplay.astro';
import BranchSelector from '../components/BranchSelector.astro';

// Metadata imports
import { branches, siteTitle } from '../metadata';

---

<Page title={siteTitle}>
    <li slot="nav-item">
        <BranchSelector branches={branches} />
    </li>
    {branches.map(async ({ name }) => (<BranchDisplay current={name} buildCount="1" containPatchNotes />))}
</Page>

<style>
article > header {
	background-color: #284B69;
	padding: calc(max(10px, 1vmin) / 2) calc(max(10px, 1vmin) * 2);
}

article > section:not(.banner) {
	padding: calc(max(10px, 1vmin));
}
</style>
